.sideBar{
	position: fixed;
	z-index: 101;
	top: 70px;
	left: 0;
	bottom: 0;
	background-color: white;
	display: flex;
	align-items: center;
	flex-direction: column;
	padding: 0;
	width: 80px;
}
.sidebar-container:hover{
	background-color: lightgray;
}
.homeButton ,
.exploreButton ,
.subscriptionsButton ,
.originalsButton ,
.musicButton ,
.libraryButton{
	margin-right: 18px;
	margin-top: 10px;
	margin-left: 18px;
	cursor: pointer;
	border: none;
	background-color: white;
	width: 50px;
	overflow: hidden;
	object-fit: cover;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0;
}
.homeButton img,
.exploreButton img,
.subscriptionsButton img,
.originalsButton img,
.musicButton img,
.libraryButton img{
	padding-bottom: 0;
	margin-bottom: 0;
	width: 30px;
	height: 30px;
	object-fit: contain;
	mix-blend-mode: multiply;
	object-fit: cover;
}
.home ,
.explore ,
.subscription ,
.original ,
.music ,
.library{
	font-family: Roboto , Arial;
	font-weight: 500;
	padding-top: 0;
	margin-top: 0;
	font-size: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 10px;
}
.subscriptionsButton{
	width: 50px;
	height: 60px;
}
.subscriptionsButton img{
	width: 50px;
	height: 60px;
}